DATABASE_URL="mysql://root:<password>@localhost:3306/john_db"
JWT_SECRET="change_me_to_a_strong_random_secret"
PORT=3001

TRIUNFO_BASE_URL_AUTH=https://apitest.triunfonet.com.ar/gauswebtriunfotest/rest
TRIUNFO_BASE_URL_SIP=https://siptest.triunfonet.com.ar/wsv1/rest
TRIUNFO_PRODUCTOR=
TRIUNFO_USUARIO=
TRIUNFO_PASSWORD=

INFOAUTO_BASE_URL=https://demo.api.infoauto.com.ar/cars/pub
INFOAUTO_AUTH_URL=https://demo.api.infoauto.com.ar/cars/auth
INFOAUTO_EMAIL=
INFOAUTO_PASSWORD=
